h2{
    color: rgb(240, 184, 193);
    width: 60%;
}

.cakeList{
    padding-left: 40px;
    margin: auto;
    color: rgba(165, 42, 42, 0.531);

    display:grid;
     grid-template-columns: 1fr 1fr;
     gap: 10px;
}

.forms{
    display: flex;
    justify-content: space-around;
}
